.article-image{
page-break-after:never
}
.post-content, 
.bottom-teaser.cf{
  padding-top:0!important
}
.bottom-teaser.cf{
  margin:0
}
.post-reading, 
.bottom-teaser.cf .isRight, 
.cf.post-meta-text, 
.post-meta center, 
.post-image-image,
.bottom-closer,
.share, 
.home-template .post-meta .post-tags-set,
.pagination,
.author-image,
.subscribe icon-feed{
  display:none;
}
.post-contnt a {
	text-decoration: none;
}